[DEVICE]
type				SHARE_MEMORY_DEVICE
uri				NULL
camera_direction		HORIZONTAL_MIRROR
width				640
height				480
fps				15

[COLOR_VIDEO_CODEC]
type				RGB_H264_TK1_CODEC
bitrate				819200
width				640
height				480
fps				15
max_b_frames			0
gop_size			15
quality_level			2

[MUXER]
size				2
asynchronous			1

[MUXER0]
type				H264ES_RTSP_MUXER
uri				rtsp://127.0.0.1/live?libra
sensor_id			0

[MUXER1]
type				MPEGTS_NANO_MSPV3_MUXER
uri				ipc:///tmp/muxerlab.ipc
sensor_id			0

[TIMESTAMP]
desc				通道一（默认）
font_name			simsun.ttf
font_size			25.0
interval_scale			0.2
space_scale			0.5
time_x				10
time_y				30
desc_x				10
desc_y				60